<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SAPConnections" type="SAPCommon.SapConnectionsSection, SAPCommon, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <SAPConnections>
    <connections>
      <add Name="Magna BI MBP" AppServerHost="172.27.6.99" SystemNumber="30" SystemID="MBP" Client="080" Language="EN" SncMode="0" SncPartnerName=""/>
      <add Name="Magna BI BWP" AppServerHost="10.11.40.107" SystemNumber="01" SystemID="BWP" Client="100" Language="EN" SncMode="0" SncPartnerName=""/>
      <add Name="Magna BI MBT" AppServerHost="172.27.6.79" SystemNumber="31" SystemID="MPT" Client="080" Language="EN" SncMode="0" SncPartnerName=""/>
      <add Name="Magna BI BWD" AppServerHost="10.11.40.140" SystemNumber="01" SystemID="BWD" Client="100" Language="EN" SncMode="0" SncPartnerName=""/>
    </connections>
  </SAPConnections>
</configuration>