<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="SAPConnections" type="SAPCommon.SapConnectionsSection, SAPCommon, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <SAPConnections>
    <connections>
      <add Name="Magna BI BWP (SSO)" AppServerHost="sap-bwp.magna.global" SystemNumber="01" SystemID="BWD" Client="100" Language="EN" SncMode="1" SncPartnerName="p:CN=svc_sso_MGA@MAGNA.GLOBAL"/>
      <add Name="Magna BI BWP" AppServerHost="sap-bwp.magna.global" SystemNumber="01" SystemID="BWP" Client="100" Language="EN" SncMode="0" SncPartnerName=""/>
      <add Name="Magna BI BWD (SSO)" AppServerHost="sap-bwd.magna.global" SystemNumber="01" SystemID="BWD" Client="100" Language="EN" SncMode="1" SncPartnerName="p:CN=svc_sso_MGA@MAGNA.GLOBAL"/>
      <add Name="Magna BI BWD" AppServerHost="sap-bwd.magna.global" SystemNumber="01" SystemID="BWD" Client="100" Language="EN" SncMode="0" SncPartnerName=""/>
    </connections>
  </SAPConnections>
</configuration>